<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.software.code.mapper.AreaCodeMapper">

    <resultMap id="BaseResultMap" type="org.software.code.entity.AreaCode">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="district" column="district" jdbcType="INTEGER"/>
            <result property="street" column="street" jdbcType="INTEGER"/>
            <result property="community" column="community" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,district,street,
        community,created_at,updated_at
    </sql>
</mapper>
